    <footer>
      <p>All images in this website are either original works created by myself, or sourced 
        from free image repositories such as 
          <a href="https://creativecommons.org/">Creative Commons</a> or
            <a href="https://www.freeimages.com/">Freeimages</a>.
      </p>
    </footer>